.main-header {
    text-align: center;
  }

  .post {
    display: inline-block;
    width: 300px;
    height: 100px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    margin: 20px;
    text-align: center;
    padding: 10px;
    padding-bottom: 15px;
  }

  .post p {
    color: #ccc;
  }

  .full-post {
    position: relative;
    left: 20%;
    width: 60%;
    height: 150px;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 2px 2px 2px #ccc;
    text-align: center;
    padding-bottom: 25px;
  }

  .full-post .author-text {
    font-size: 14px;
    color: #aaa;
  }

  .new-post-form {
    border: 1px solid #ccc;
    width: 400px;
    padding: 20px;
    position: relative;
    left: 50%;
    margin-left: -200px;
    margin-top: 50px;
  }

  .new-post-form input,
  .new-post-form textarea {
    width: 100%;
  }