[submodule "Taller semana 1 - Hoja de vida/CVJCPA"]
	path = Taller semana 1 - Hoja de vida/CVJCPA
	url = git@github.com:Sockshead/CVJCPA.git
[submodule "Taller semana 2 - Sliding Puzzle/slidingPuzzle"]
	path = Taller semana 2 - Sliding Puzzle/slidingPuzzle
	url = git@github.com:Sockshead/slidingPuzzle.git
[submodule "Taller Todo-List/todoList-React"]
	path = Taller Todo-List/todoList-React
	url = https://github.com/Sockshead/todoList-React.git
