@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.counter-container {
  text-align: center;
  font-family: 'Lato', sans-serif;
}
ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}
.value-stored{
  width: 10%;
  height: 45px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 0px -1px rgba(0,0,0,0.75);
  margin-bottom: 2%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  letter-spacing: 1.2px;
}
