.login--form {
    border: 1px solid #ccc;
    width: 300px;
    height: 300px;
    padding: 15px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -150px;
}

.login--form button {
    width: 100px;
    height: 30px;
    margin-top: 30px;
    position: relative;
    left: 50%;
    margin-left: -50px;
}
.error{
    display: flex;
    flex-wrap: nowrap;
    border: #A84155 5px solid;
    background-color: #cccccc;
    color: black;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}