.body
{
    text-align: center;
    padding: 20px;
    
}
.title
{
    text-align: center;
}
.table{
    margin-left:auto; 
    margin-right:auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    border: 1px solid #dddddd;
}
.tr{
    
    text-align: left;
    padding: 20px;
    border: 2px solid #dddddd;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.tds{
    display: flex;
    flex-direction: column-reverse;
}
.td{
    
    padding: 10px;

}