.text{
    padding: 1%;
    outline: none;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 40px;
    width: 100%;
    cursor: pointer;
    font-size: 1.5em;
    margin: 5% auto;
}
.completado{
    text-decoration: line-through;
}
.img{
    height: 1.6em;
    width: auto;
    margin: auto;
    
}
.boton{
    position: absolute;
    padding: 0%;
    float: right;
    border-radius: 50%;
    border:transparent;
    width: 40px;
    height: 40px;
    outline: none;
    background: #fa3333;
    cursor: pointer;
    right: -1%;
    transform: translateY(10%);
}
