.sign-up--form {
    border: 1px solid #ccc;
    width: 300px;
    height: 300px;
    padding: 15px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -150px;
}

.sign-up--form button {
    width: 100px;
    height: 30px;
    margin-top: 30px;
    position: relative;
    left: 50%;
    margin-left: -50px;
}

h2 {
    color: red;
}