.div{
    height: 600px;
    padding: 5%;
    width: 400px;
}
.img{
    object-fit: cover;
    width: 100%;
    height: 500px;
    margin: 0;
}
.info{
    width: 100%;
    text-align: center;
    height: 100px;
    background-color: black;
    margin-top: 0;
}
.name{
    margin: 0;
    padding-top: 20px;
    font-size: 32px;
    font-family: inherit;
    font-weight: bolder;
    color: white;
}

