//Idea 1
$darkBlue: #24305E;
$shdDarkBlue: #131a33;
$grayedBlue: #374785;
$lightBlue: #A8D0E6;
$shdLightBlue: #4a5d68;
$dasGray: #504d4d;
$pastelRed: #F76C6C;
$disGray: #b1aeae;

//Idea 2
$mintGreen: #6AB580;
$darkerGreen: #427251;
$dimmedBlack: #292929;
$darkerBlack: #202020;
$daPink: #FF7B70;
$darkOrange: #DD6039;
$dimmedWhite: #E9EADD;
